/* @import './base.css'; */

body{
  width: 100vw;
  margin: 0;
  padding: 0;
  /* height: 100%; */
}

#app {
  font-weight: normal;
  height: 100vh;
  width: 100vw;
  /* background-color: blue; */
}

*{



  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;

}


.modal-enter-active,
.modal-leave-active{
  transition: all 0.15s ease;
}
.modal-enter-from,
.modal-leave-to{
  opacity: 0.5;
}